@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

html,
body{
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

.reloj{
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 50%;
}

.contenedor-modos{
    display: flex;
    flex-direction: row;
}

.fecha{
    height: 2rem;
}

.horaActual{
    height: 2rem;
}

.opcion{
    height: 2rem;
}

.ampm{
    display: none;
    height: 2rem;
}

.ampm.doce{
    display: block;
    height: 2rem;
}